### Loading the data in `data` variable

In [134]:
import pandas as pd

In [135]:
data = pd.read_excel(r'/Users/TimothyHorth/Downloads/Global-Solar-Power-Tracker-May-2022.xlsx', sheet_name='Data')

In [136]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9331 entries, 0 to 9330
Data columns (total 27 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Country                                   9331 non-null   object
 1   Project Name                              9331 non-null   object
 2   Phase Name                                3981 non-null   object
 3   Project Name in Local Language / Script   5014 non-null   object
 4   Other Name(s)                             1600 non-null   object
 5   Capacity (MW)                             9331 non-null   int64
 6   Capacity Rating                           9331 non-null   object
 7   Status                                    9331 non-null   object
 8   Start year                                6326 non-null   float64
 9   Retired year                              5 non-null      float64
 10  Operator                                  6034 non-null   object
 11  Operator Name in Local Language / Script  2814 non-null   object
 12  Owner                                     8491 non-null   object
 13  Owner Name in Local Language / Script     3463 non-null   object
 14  Latitude                                  9331 non-null   float64
 15  Longitude                                 9331 non-null   float64
 16  Location accuracy                         9331 non-null   object
 17  City                                      4909 non-null   object
 18  Local area (taluk, county)                6124 non-null   object
 19  Major area (prefecture, district)         5411 non-null   object
 20  State/Province                            8684 non-null   object
 21  Region                                    9331 non-null   object
 22  GEM location ID                           9331 non-null   object
 23  GEM phase ID                              9331 non-null   object
 24  Other IDs (location)                      2145 non-null   object
 25  Other IDs (unit/phase)                    756 non-null    object
 26  Wiki URL                                  9331 non-null   object
dtypes: float64(4), int64(1), object(22)
memory usage: 1.9+ MB

In [137]:
data

,Country,Project Name,Phase Name,Project Name in Local Language / Script,Other Name(s),Capacity (MW),Capacity Rating,Status,Start year,Retired year,...,City,"Local area (taluk, county)","Major area (prefecture, district)",State/Province,Region,GEM location ID,GEM phase ID,Other IDs (location),Other IDs (unit/phase),Wiki URL
0,Algeria,Adrar Solar Plant,NaN,NaN,NaN,20,MWp/dc,operating,2015.0,NaN,...,Adrar,Adrar District,NaN,Adrar,Africa,L800008,G800008,Wks0068905,NaN,https://gem.wiki/Adrar_Solar_Plant
1,Algeria,Ain Azel solar farm,NaN,محطة توليد الكهرباء بعين زادة,NaN,20,unknown,operating,NaN,NaN,...,Ain Azel,Ain Arnat,NaN,Sétif,Africa,L800010,G800010,Wks0065285,NaN,https://gem.wiki/Ain_Azel_solar_farm
2,Algeria,Ain El Ibel Solar,PV 1,محطة عين الابل للطاقة الشمسية ١,Ain Albel 1 solar plant,20,unknown,operating,2016.0,NaN,...,Ain El Ibel,Aïn El Ibel District,NaN,Djelfa,Africa,L800012,G800012,Wks0068916,NaN,https://gem.wiki/Ain_El_Ibel_Solar
3,Algeria,Ain El Ibel Solar,PV 2,محطة عين الابل للطاقة الشمسية ٢,Ain Albel 2 solar plant,33,unknown,operating,2017.0,NaN,...,Ain El Ibel,Aïn El Ibel District,NaN,Djelfa,Africa,L800012,G800013,Wks0073479,NaN,https://gem.wiki/Ain_El_Ibel_Solar
4,Algeria,Ain El Mehl Solar,NaN,محطة عين الملح للطاقة الشمسية,Ain El Melh Solar,20,unknown,operating,2017.0,NaN,...,Ain El Mehl,Aïn El Melh District,NaN,M'Sila,Africa,L800013,G800014,Wks0068915,NaN,https://gem.wiki/Ain_El_Mehl_Solar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9326,Uruguay,Alto Cielo PV Solar Plant,NaN,Planta Solar Fotovoltaica Alto Cielo,NaN,26,MWp/dc,operating,2016.0,NaN,...,NaN,NaN,NaN,Artigas,South America,L807498,G809030,Ury0000834,NaN,https://gem.wiki/Alto_Cielo_PV_Solar_Plant
9327,Uruguay,El Naranjal Solar Plant,NaN,Planta Solar El Naranjal,NaN,59,MWp/dc,operating,2017.0,NaN,...,NaN,NaN,NaN,Salto,South America,L807010,G808063,Ury0000884,NaN,https://gem.wiki/El_Naranjal_Solar_Plant
9328,Uruguay,Giacote PV Solar Project,Young Facility,Planta Solar Fotovoltaica Giacota,NaN,20,MWp/dc,operating,NaN,NaN,...,NaN,NaN,Young,Río Negro,South America,L807433,G808943,NaN,NaN,https://gem.wiki/Giacote_PV_Solar_Project
9329,Uruguay,La Jacinta Solar Plant,NaN,Planta Solar La Jacinta,NaN,65,MWp/dc,operating,2015.0,NaN,...,NaN,NaN,NaN,Salto,South America,L807232,G808533,Ury0000801,NaN,https://gem.wiki/La_Jacinta_Solar_Plant
9330,Uruguay,Menafra solar farm,NaN,Parque Solar Menafra,NaN,20,unknown,operating,NaN,NaN,...,NaN,NaN,NaN,Río Negro,South America,L807247,G808588,Ury0000806,NaN,https://gem.wiki/Menafra_solar_farm

### Fixing the column names in `data`

In [138]:
columns = data.columns.to_list()
converter = lambda x: x.replace(' ', '_')
my_cols = list(map(converter, columns))
my_cols

['Country',
 'Project_Name',
 'Phase_Name',
 'Project_Name_in_Local_Language_/_Script',
 'Other_Name(s)',
 'Capacity_(MW)',
 'Capacity_Rating',
 'Status',
 'Start_year',
 'Retired_year',
 'Operator',
 'Operator_Name_in_Local_Language_/_Script',
 'Owner',
 'Owner_Name_in_Local_Language_/_Script',
 'Latitude',
 'Longitude',
 'Location_accuracy',
 'City',
 'Local_area_(taluk,_county)',
 'Major_area_(prefecture,_district)',
 'State/Province',
 'Region',
 'GEM_location_ID',
 'GEM_phase_ID',
 'Other_IDs_(location)',
 'Other_IDs_(unit/phase)',
 'Wiki_URL']

In [139]:
my_cols =list(map(str.lower,my_cols))
data.columns = my_cols

In [143]:
#checking data column names
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9331 entries, 0 to 9330
Data columns (total 27 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   country                                   9331 non-null   object
 1   project_name                              9331 non-null   object
 2   phase_name                                3981 non-null   object
 3   project_name_in_local_language_/_script   5014 non-null   object
 4   other_name(s)                             1600 non-null   object
 5   capacity_(mw)                             9331 non-null   int64
 6   capacity_rating                           9331 non-null   object
 7   status                                    9331 non-null   object
 8   start_year                                6326 non-null   float64
 9   retired_year                              5 non-null      float64
 10  operator                                  6034 non-null   object
 11  operator_name_in_local_language_/_script  2814 non-null   object
 12  owner                                     8491 non-null   object
 13  owner_name_in_local_language_/_script     3463 non-null   object
 14  latitude                                  9331 non-null   float64
 15  longitude                                 9331 non-null   float64
 16  location_accuracy                         9331 non-null   object
 17  city                                      4909 non-null   object
 18  local_area_(taluk,_county)                6124 non-null   object
 19  major_area_(prefecture,_district)         5411 non-null   object
 20  state/province                            8684 non-null   object
 21  region                                    9331 non-null   object
 22  gem_location_id                           9331 non-null   object
 23  gem_phase_id                              9331 non-null   object
 24  other_ids_(location)                      2145 non-null   object
 25  other_ids_(unit/phase)                    756 non-null    object
 26  wiki_url                                  9331 non-null   object
dtypes: float64(4), int64(1), object(22)
memory usage: 1.9+ MB

In [145]:
data = data[[
    'country','project_name','capacity_(mw)','status','start_year', 'retired_year',
     'latitude', 'longitude', 'city', 'state/province', 'region', 'local_area_(taluk,_county)'
     ]]

In [146]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9331 entries, 0 to 9330
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   country                     9331 non-null   object
 1   project_name                9331 non-null   object
 2   capacity_(mw)               9331 non-null   int64
 3   status                      9331 non-null   object
 4   start_year                  6326 non-null   float64
 5   retired_year                5 non-null      float64
 6   latitude                    9331 non-null   float64
 7   longitude                   9331 non-null   float64
 8   city                        4909 non-null   object
 9   state/province              8684 non-null   object
 10  region                      9331 non-null   object
 11  local_area_(taluk,_county)  6124 non-null   object
dtypes: float64(4), int64(1), object(7)
memory usage: 874.9+ KB

### Checking for unique values, missing values, and errors in data

#### Country column

In [147]:
#unique values in column
len(data.country.unique())

148

In [148]:
data.country.isna().sum()

0

#### project_name column

In [149]:
len(data.project_name.unique())

7636

In [150]:
data.project_name.isna().sum()

0

#### capacity_(mw) column

In [151]:
data['capacity_mw'] = data['capacity_(mw)']

/var/folders/dp/4m06w2sd6ss2xmz43gsgwxcw0000gn/T/ipykernel_19438/239537187.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['capacity_mw'] = data['capacity_(mw)']

In [152]:
data.drop(columns='capacity_(mw)', inplace=True)

/Users/timothyhorth/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [153]:
data.head()

,country,project_name,status,start_year,retired_year,latitude,longitude,city,state/province,region,"local_area_(taluk,_county)",capacity_mw
0,Algeria,Adrar Solar Plant,operating,2015.0,NaN,27.9077,-0.3174,Adrar,Adrar,Africa,Adrar District,20
1,Algeria,Ain Azel solar farm,operating,NaN,NaN,36.1611,5.3321,Ain Azel,Sétif,Africa,Ain Arnat,20
2,Algeria,Ain El Ibel Solar,operating,2016.0,NaN,34.3447,3.1636,Ain El Ibel,Djelfa,Africa,Aïn El Ibel District,20
3,Algeria,Ain El Ibel Solar,operating,2017.0,NaN,34.3433,3.1696,Ain El Ibel,Djelfa,Africa,Aïn El Ibel District,33
4,Algeria,Ain El Mehl Solar,operating,2017.0,NaN,34.8597,4.2026,Ain El Mehl,M'Sila,Africa,Aïn El Melh District,20

In [154]:
data.capacity_mw.isna().sum()

0

In [155]:
data.capacity_mw.describe()

count     9331.000000
mean        87.345836
std        326.703291
min         10.000000
25%         26.000000
50%         48.000000
75%         84.000000
max      20000.000000
Name: capacity_mw, dtype: float64

In [156]:
#checking for outliers in capacity_mw column
q1_cap = data.capacity_mw.quantile(0.25)
q3_cap = data.capacity_mw.quantile(0.75)
iqr_cap = q3_cap - q1_cap
print(q1_cap - (1.5*iqr_cap))
print(q3_cap + (1.5*iqr_cap))
iqr_cap

-61.0
171.0

58.0

In [157]:
outliers_cap = data.query('capacity_mw > (@q3_cap + 1.5*@iqr_cap) | capacity_mw < (@q1_cap - 1.5*@iqr_cap)')
print('percentage of outliers in column ',len(outliers_cap)/len(data) *100)

percentage of outliers in column  9.827456864216053

#### project_name column

In [158]:
data.project_name.isna().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of 0       False
1       False
2       False
3       False
4       False
        ...
9326    False
9327    False
9328    False
9329    False
9330    False
Name: project_name, Length: 9331, dtype: bool>

In [159]:
#unique project names
len(data.project_name.unique())

7636

In [160]:
data.project_name.isna().sum()

0

#### status column

In [161]:
data.status.unique()

array(['operating', 'cancelled', 'shelved', 'announced', 'development',
       'construction', 'retired'], dtype=object)

In [162]:
data.status.isna().sum()

0

#### start_year and retired_year column 
we decided to drop this column, since there 32.2% of missing values in the column and therefore the column will not be useful for analysis, such as computing the years that each project has been or operated in total.

In [163]:
#percentage of missing values in column
data.start_year.isna().sum()/len(data)

0.3220447969135141

In [164]:
data.retired_year.isna().sum()/len(data)

0.9994641517522238

In [165]:
data.drop(['start_year', 'retired_year'], axis=1, inplace=True)

/Users/timothyhorth/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [166]:
data.head(3)

,country,project_name,status,latitude,longitude,city,state/province,region,"local_area_(taluk,_county)",capacity_mw
0,Algeria,Adrar Solar Plant,operating,27.9077,-0.3174,Adrar,Adrar,Africa,Adrar District,20
1,Algeria,Ain Azel solar farm,operating,36.1611,5.3321,Ain Azel,Sétif,Africa,Ain Arnat,20
2,Algeria,Ain El Ibel Solar,operating,34.3447,3.1636,Ain El Ibel,Djelfa,Africa,Aïn El Ibel District,20

In [167]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9331 entries, 0 to 9330
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   country                     9331 non-null   object
 1   project_name                9331 non-null   object
 2   status                      9331 non-null   object
 3   latitude                    9331 non-null   float64
 4   longitude                   9331 non-null   float64
 5   city                        4909 non-null   object
 6   state/province              8684 non-null   object
 7   region                      9331 non-null   object
 8   local_area_(taluk,_county)  6124 non-null   object
 9   capacity_mw                 9331 non-null   int64
dtypes: float64(2), int64(1), object(7)
memory usage: 729.1+ KB

#### latitude column

In [168]:
data.latitude.isna().sum()

0

In [169]:
#acceptable values for latitude are between -90 and 90. 
data.latitude.describe()

count    9331.000000
mean       26.443932
std        20.797254
min       -53.150200
25%        18.471100
50%        34.657100
75%        39.495800
max        65.552800
Name: latitude, dtype: float64

#### longitude column

In [170]:
data.longitude.isna().sum()

0

In [171]:
#longitude values can range between -180 and 180 degrees
data.longitude.describe()

count    9331.000000
mean       28.722987
std        84.933162
min      -159.762000
25%       -45.267950
50%        32.743300
75%       108.649650
max       175.957900
Name: longitude, dtype: float64

#### city column

In [172]:
data.city.isna().sum()

4422

In [173]:
data.city.fillna('unknown', inplace=True)

/Users/timothyhorth/opt/anaconda3/lib/python3.9/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [174]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9331 entries, 0 to 9330
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   country                     9331 non-null   object
 1   project_name                9331 non-null   object
 2   status                      9331 non-null   object
 3   latitude                    9331 non-null   float64
 4   longitude                   9331 non-null   float64
 5   city                        9331 non-null   object
 6   state/province              8684 non-null   object
 7   region                      9331 non-null   object
 8   local_area_(taluk,_county)  6124 non-null   object
 9   capacity_mw                 9331 non-null   int64
dtypes: float64(2), int64(1), object(7)
memory usage: 729.1+ KB

In [175]:
len(data.city.unique())

2978

#### state_province column

In [176]:
data['state_province'] =data['state/province'] 
data.drop('state/province', axis=1, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9331 entries, 0 to 9330
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   country                     9331 non-null   object
 1   project_name                9331 non-null   object
 2   status                      9331 non-null   object
 3   latitude                    9331 non-null   float64
 4   longitude                   9331 non-null   float64
 5   city                        9331 non-null   object
 6   region                      9331 non-null   object
 7   local_area_(taluk,_county)  6124 non-null   object
 8   capacity_mw                 9331 non-null   int64
 9   state_province              8684 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 729.1+ KB

/var/folders/dp/4m06w2sd6ss2xmz43gsgwxcw0000gn/T/ipykernel_19438/2031362618.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['state_province'] =data['state/province']
/Users/timothyhorth/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [177]:
data.state_province.isna().sum()

647

In [178]:
data.state_province.fillna('unknown', inplace=True)
data.state_province.isna().sum()

0

#### region column

In [179]:
data.region.isna().sum()

0

In [180]:
data.region.unique()

array(['Africa', 'Asia', 'Central America and the Caribbean', 'Eurasia',
       'Europe', 'North America', 'Middle East', 'Oceania',
       'South America'], dtype=object)

In [181]:
data.columns

Index(['country', 'project_name', 'status', 'latitude', 'longitude', 'city',
       'region', 'local_area_(taluk,_county)', 'capacity_mw',
       'state_province'],
      dtype='object')

## MY OWN ANALYSIS / CURATING DATA

In [246]:
data

,country,project_name,status,latitude,longitude,city,region,"local_area_(taluk,_county)",capacity_mw,state_province
0,Algeria,Adrar Solar Plant,operating,27.9077,-0.3174,Adrar,Africa,Adrar District,20,Adrar
1,Algeria,Ain Azel solar farm,operating,36.1611,5.3321,Ain Azel,Africa,Ain Arnat,20,Sétif
2,Algeria,Ain El Ibel Solar,operating,34.3447,3.1636,Ain El Ibel,Africa,Aïn El Ibel District,20,Djelfa
3,Algeria,Ain El Ibel Solar,operating,34.3433,3.1696,Ain El Ibel,Africa,Aïn El Ibel District,33,Djelfa
4,Algeria,Ain El Mehl Solar,operating,34.8597,4.2026,Ain El Mehl,Africa,Aïn El Melh District,20,M'Sila
...,...,...,...,...,...,...,...,...,...,...
9326,Uruguay,Alto Cielo PV Solar Plant,operating,-30.4214,-57.4574,unknown,South America,NaN,26,Artigas
9327,Uruguay,El Naranjal Solar Plant,operating,-31.2603,-57.8739,unknown,South America,NaN,59,Salto
9328,Uruguay,Giacote PV Solar Project,operating,-32.6848,-57.6034,unknown,South America,NaN,20,Río Negro
9329,Uruguay,La Jacinta Solar Plant,operating,-31.4315,-57.9088,unknown,South America,NaN,65,Salto
9330,Uruguay,Menafra solar farm,operating,-32.6083,-57.4385,unknown,South America,NaN,20,Río Negro

In [247]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9331 entries, 0 to 9330
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   country                     9331 non-null   object
 1   project_name                9331 non-null   object
 2   status                      9331 non-null   object
 3   latitude                    9331 non-null   float64
 4   longitude                   9331 non-null   float64
 5   city                        9331 non-null   object
 6   region                      9331 non-null   object
 7   local_area_(taluk,_county)  6124 non-null   object
 8   capacity_mw                 9331 non-null   int64
 9   state_province              9331 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 729.1+ KB

In [248]:
len(data['country'].unique())

148

148 unique countries in the dataset

In [249]:
data_by_country = data['country'].value_counts()
data_by_country

China            2735
United States    1478
Brazil            684
Greece            526
India             474
                 ...
Bahrain             1
South Sudan         1
Sudan               1
Brunei              1
Georgia             1
Name: country, Length: 148, dtype: int64

In [250]:
len(data_by_country[data_by_country > 5])

88

In [251]:
len(data['region'].unique())

9

9 unique regions in the dataset

In [252]:
len(data['city'].unique())

2978

About 3000 unique cities in the dataset

In [253]:
capacity_by_country = data.groupby('country').sum()
capacity_by_country.drop(['latitude', 'longitude'], axis=1, inplace=True)
capacity_by_country
#capacity_by_country.sort_values(by="capacity_mw", ascending=False)

                capacity_mw
country
Afghanistan            3255
Albania                 640
Algeria                5488
Angola                  460
Argentina              1364
...                     ...
Uzbekistan             1828
Vietnam               16572
Western Sahara         1105
Zambia                 1123
Zimbabwe               2450

[148 rows x 1 columns]

In [254]:
farms_by_country = data.groupby('country').count()
farms_by_country

,project_name,status,latitude,longitude,city,region,"local_area_(taluk,_county)",capacity_mw,state_province
country,,,,,,,,,
Afghanistan,8,8,8,8,8,8,2,8,8
Albania,8,8,8,8,8,8,8,8,8
Algeria,39,39,39,39,39,39,19,39,39
Angola,8,8,8,8,8,8,0,8,8
Argentina,18,18,18,18,18,18,7,18,18
...,...,...,...,...,...,...,...,...,...
Uzbekistan,8,8,8,8,8,8,0,8,8
Vietnam,184,184,184,184,184,184,88,184,184
Western Sahara,4,4,4,4,4,4,2,4,4
Zambia,11,11,11,11,11,11,0,11,11
Zimbabwe,29,29,29,29,29,29,4,29,29

In [255]:
capacity_by_country['number_of_farms'] = farms_by_country['project_name']

In [256]:
capacity_by_country['country'] = farms_by_country.index

In [257]:
capacity_by_country

                capacity_mw  number_of_farms         country
country
Afghanistan            3255                8     Afghanistan
Albania                 640                8         Albania
Algeria                5488               39         Algeria
Angola                  460                8          Angola
Argentina              1364               18       Argentina
...                     ...              ...             ...
Uzbekistan             1828                8      Uzbekistan
Vietnam               16572              184         Vietnam
Western Sahara         1105                4  Western Sahara
Zambia                 1123               11          Zambia
Zimbabwe               2450               29        Zimbabwe

[148 rows x 3 columns]

In [258]:
import json
import numpy as np

In [259]:
test_file = capacity_by_country.to_json()

In [260]:
capacity_by_country.to_numpy()

array([[3255, 8, 'Afghanistan'],
       [640, 8, 'Albania'],
       [5488, 39, 'Algeria'],
       [460, 8, 'Angola'],
       [1364, 18, 'Argentina'],
       [255, 2, 'Armenia'],
       [62146, 260, 'Australia'],
       [24, 1, 'Austria'],
       [250, 2, 'Azerbaijan'],
       [100, 1, 'Bahrain'],
       [3760, 49, 'Bangladesh'],
       [20, 1, 'Barbados'],
       [185, 2, 'Belarus'],
       [233, 5, 'Belgium'],
       [50, 2, 'Benin'],
       [320, 6, 'Bhutan'],
       [160, 3, 'Bolivia'],
       [786, 14, 'Bosnia and Herzegovina'],
       [200, 4, 'Botswana'],
       [36329, 684, 'Brazil'],
       [30, 1, 'Brunei'],
       [1375, 15, 'Bulgaria'],
       [264, 9, 'Burkina Faso'],
       [635, 13, 'Cambodia'],
       [122, 3, 'Cameroon'],
       [2589, 46, 'Canada'],
       [25, 1, 'Central African Republic'],
       [742, 10, 'Chad'],
       [16224, 111, 'Chile'],
       [139994, 2735, 'China'],
       [19074, 179, 'Colombia'],
       [1774, 36, 'Croatia'],
       [114, 2, 'Cuba'],
       [87, 3, 'Czech Republic'],
       [234, 7, "Côte d'Ivoire"],
       [740, 4, 'DR Congo'],
       [1471, 20, 'Denmark'],
       [530, 11, 'Djibouti'],
       [765, 13, 'Dominican Republic'],
       [955, 22, 'Ecuador'],
       [4073, 53, 'Egypt'],
       [265, 5, 'El Salvador'],
       [100, 1, 'Eswatini'],
       [1350, 5, 'Ethiopia'],
       [580, 2, 'Finland'],
       [2489, 32, 'France'],
       [55, 1, 'French Guiana'],
       [370, 5, 'Gabon'],
       [100, 1, 'Georgia'],
       [4433, 88, 'Germany'],
       [1752, 23, 'Ghana'],
       [43158, 526, 'Greece'],
       [236, 6, 'Guam'],
       [93, 2, 'Guatemala'],
       [122, 3, 'Guinea'],
       [20, 1, 'Guinea-Bissau'],
       [90, 3, 'Haiti'],
       [200, 2, 'Holy See'],
       [572, 15, 'Honduras'],
       [230, 3, 'Hong Kong'],
       [334, 11, 'Hungary'],
       [62675, 474, 'India'],
       [3215, 15, 'Indonesia'],
       [2070, 14, 'Iran'],
       [6045, 20, 'Iraq'],
       [560, 7, 'Ireland'],
       [857, 11, 'Israel'],
       [2468, 40, 'Italy'],
       [263, 7, 'Jamaica'],
       [10535, 244, 'Japan'],
       [1731, 30, 'Jordan'],
       [1603, 32, 'Kazakhstan'],
       [674, 16, 'Kenya'],
       [180, 2, 'Kosovo'],
       [10120, 8, 'Kuwait'],
       [30, 1, 'Kyrgyzstan'],
       [304, 2, 'Laos'],
       [90, 3, 'Lesotho'],
       [20, 1, 'Liberia'],
       [600, 2, 'Libya'],
       [40, 2, 'Madagascar'],
       [221, 6, 'Malawi'],
       [2766, 44, 'Malaysia'],
       [36, 1, 'Maldives'],
       [426, 9, 'Mali'],
       [95, 3, 'Mauritania'],
       [21269, 242, 'Mexico'],
       [70, 3, 'Mongolia'],
       [312, 3, 'Montenegro'],
       [14562, 27, 'Morocco'],
       [481, 10, 'Mozambique'],
       [7610, 34, 'Myanmar'],
       [272, 6, 'Namibia'],
       [25, 1, 'Nepal'],
       [1392, 31, 'Netherlands'],
       [30, 1, 'New Caledonia'],
       [1238, 12, 'New Zealand'],
       [280, 7, 'Nicaragua'],
       [80, 2, 'Niger'],
       [1577, 16, 'Nigeria'],
       [2500, 1, 'North Korea'],
       [860, 9, 'North Macedonia'],
       [15830, 11, 'Oman'],
       [3515, 45, 'Pakistan'],
       [177, 3, 'Panama'],
       [904, 11, 'Peru'],
       [11696, 127, 'Philippines'],
       [1153, 13, 'Poland'],
       [2919, 33, 'Portugal'],
       [591, 16, 'Puerto Rico'],
       [815, 3, 'Qatar'],
       [1353, 23, 'Romania'],
       [1423, 43, 'Russia'],
       [38, 1, 'Saint Kitts and Nevis'],
       [5166, 23, 'Saudi Arabia'],
       [242, 9, 'Senegal'],
       [2037, 8, 'Serbia'],
       [95, 3, 'Sierra Leone'],
       [559, 9, 'Singapore'],
       [83, 2, 'Slovakia'],
       [10, 1, 'Somalia'],
       [4742, 50, 'South Africa'],
       [3597, 20, 'South Korea'],
       [20, 1, 'South Sudan'],
       [20606, 203, 'Spain'],
       [1270, 6, 'Sri Lanka'],
       [10, 1, 'Sudan'],
       [46, 2, 'Sweden'],
       [490, 5, 'Syria'],
       [1715, 14, 'Taiwan'],
       [210, 3, 'Tanzania'],
       [2065, 20, 'Thailand'],
       [170, 3, 'The Gambia'],
       [470, 4, 'Togo'],
       [112, 2, 'Trinidad and Tobago'],
       [1000, 16, 'Tunisia'],
       [1907, 15, 'Turkey'],
       [1107, 9, 'Uganda'],
       [1837, 34, 'Ukraine'],
       [6570, 17, 'United Arab Emirates'],
       [10255, 258, 'United Kingdom'],
       [160378, 1478, 'United States'],
       [190, 5, 'Uruguay'],
       [1828, 8, 'Uzbekistan'],
       [16572, 184, 'Vietnam'],
       [1105, 4, 'Western Sahara'],
       [1123, 11, 'Zambia'],
       [2450, 29, 'Zimbabwe']], dtype=object)

In [261]:
final_table = capacity_by_country[['country', 'capacity_mw', 'number_of_farms']]

In [262]:
final_table.to_numpy()

array([['Afghanistan', 3255, 8],
       ['Albania', 640, 8],
       ['Algeria', 5488, 39],
       ['Angola', 460, 8],
       ['Argentina', 1364, 18],
       ['Armenia', 255, 2],
       ['Australia', 62146, 260],
       ['Austria', 24, 1],
       ['Azerbaijan', 250, 2],
       ['Bahrain', 100, 1],
       ['Bangladesh', 3760, 49],
       ['Barbados', 20, 1],
       ['Belarus', 185, 2],
       ['Belgium', 233, 5],
       ['Benin', 50, 2],
       ['Bhutan', 320, 6],
       ['Bolivia', 160, 3],
       ['Bosnia and Herzegovina', 786, 14],
       ['Botswana', 200, 4],
       ['Brazil', 36329, 684],
       ['Brunei', 30, 1],
       ['Bulgaria', 1375, 15],
       ['Burkina Faso', 264, 9],
       ['Cambodia', 635, 13],
       ['Cameroon', 122, 3],
       ['Canada', 2589, 46],
       ['Central African Republic', 25, 1],
       ['Chad', 742, 10],
       ['Chile', 16224, 111],
       ['China', 139994, 2735],
       ['Colombia', 19074, 179],
       ['Croatia', 1774, 36],
       ['Cuba', 114, 2],
       ['Czech Republic', 87, 3],
       ["Côte d'Ivoire", 234, 7],
       ['DR Congo', 740, 4],
       ['Denmark', 1471, 20],
       ['Djibouti', 530, 11],
       ['Dominican Republic', 765, 13],
       ['Ecuador', 955, 22],
       ['Egypt', 4073, 53],
       ['El Salvador', 265, 5],
       ['Eswatini', 100, 1],
       ['Ethiopia', 1350, 5],
       ['Finland', 580, 2],
       ['France', 2489, 32],
       ['French Guiana', 55, 1],
       ['Gabon', 370, 5],
       ['Georgia', 100, 1],
       ['Germany', 4433, 88],
       ['Ghana', 1752, 23],
       ['Greece', 43158, 526],
       ['Guam', 236, 6],
       ['Guatemala', 93, 2],
       ['Guinea', 122, 3],
       ['Guinea-Bissau', 20, 1],
       ['Haiti', 90, 3],
       ['Holy See', 200, 2],
       ['Honduras', 572, 15],
       ['Hong Kong', 230, 3],
       ['Hungary', 334, 11],
       ['India', 62675, 474],
       ['Indonesia', 3215, 15],
       ['Iran', 2070, 14],
       ['Iraq', 6045, 20],
       ['Ireland', 560, 7],
       ['Israel', 857, 11],
       ['Italy', 2468, 40],
       ['Jamaica', 263, 7],
       ['Japan', 10535, 244],
       ['Jordan', 1731, 30],
       ['Kazakhstan', 1603, 32],
       ['Kenya', 674, 16],
       ['Kosovo', 180, 2],
       ['Kuwait', 10120, 8],
       ['Kyrgyzstan', 30, 1],
       ['Laos', 304, 2],
       ['Lesotho', 90, 3],
       ['Liberia', 20, 1],
       ['Libya', 600, 2],
       ['Madagascar', 40, 2],
       ['Malawi', 221, 6],
       ['Malaysia', 2766, 44],
       ['Maldives', 36, 1],
       ['Mali', 426, 9],
       ['Mauritania', 95, 3],
       ['Mexico', 21269, 242],
       ['Mongolia', 70, 3],
       ['Montenegro', 312, 3],
       ['Morocco', 14562, 27],
       ['Mozambique', 481, 10],
       ['Myanmar', 7610, 34],
       ['Namibia', 272, 6],
       ['Nepal', 25, 1],
       ['Netherlands', 1392, 31],
       ['New Caledonia', 30, 1],
       ['New Zealand', 1238, 12],
       ['Nicaragua', 280, 7],
       ['Niger', 80, 2],
       ['Nigeria', 1577, 16],
       ['North Korea', 2500, 1],
       ['North Macedonia', 860, 9],
       ['Oman', 15830, 11],
       ['Pakistan', 3515, 45],
       ['Panama', 177, 3],
       ['Peru', 904, 11],
       ['Philippines', 11696, 127],
       ['Poland', 1153, 13],
       ['Portugal', 2919, 33],
       ['Puerto Rico', 591, 16],
       ['Qatar', 815, 3],
       ['Romania', 1353, 23],
       ['Russia', 1423, 43],
       ['Saint Kitts and Nevis', 38, 1],
       ['Saudi Arabia', 5166, 23],
       ['Senegal', 242, 9],
       ['Serbia', 2037, 8],
       ['Sierra Leone', 95, 3],
       ['Singapore', 559, 9],
       ['Slovakia', 83, 2],
       ['Somalia', 10, 1],
       ['South Africa', 4742, 50],
       ['South Korea', 3597, 20],
       ['South Sudan', 20, 1],
       ['Spain', 20606, 203],
       ['Sri Lanka', 1270, 6],
       ['Sudan', 10, 1],
       ['Sweden', 46, 2],
       ['Syria', 490, 5],
       ['Taiwan', 1715, 14],
       ['Tanzania', 210, 3],
       ['Thailand', 2065, 20],
       ['The Gambia', 170, 3],
       ['Togo', 470, 4],
       ['Trinidad and Tobago', 112, 2],
       ['Tunisia', 1000, 16],
       ['Turkey', 1907, 15],
       ['Uganda', 1107, 9],
       ['Ukraine', 1837, 34],
       ['United Arab Emirates', 6570, 17],
       ['United Kingdom', 10255, 258],
       ['United States', 160378, 1478],
       ['Uruguay', 190, 5],
       ['Uzbekistan', 1828, 8],
       ['Vietnam', 16572, 184],
       ['Western Sahara', 1105, 4],
       ['Zambia', 1123, 11],
       ['Zimbabwe', 2450, 29]], dtype=object)

In [263]:
list(final_table)

['country', 'capacity_mw', 'number_of_farms']

In [264]:
filename = 'data.json'
with open(filename, 'w') as f:
    json.dump(test_file, f)

In [245]:
data["country"].unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Cameroon', 'Central African Republic', 'Chad', "Côte d'Ivoire",
       'Djibouti', 'DR Congo', 'Egypt', 'Eswatini', 'Ethiopia', 'Gabon',
       'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Morocco',
       'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Senegal',
       'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan',
       'Tanzania', 'The Gambia', 'Togo', 'Tunisia', 'Uganda',
       'Western Sahara', 'Zambia', 'Zimbabwe', 'Afghanistan',
       'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'Hong Kong',
       'Indonesia', 'Japan', 'Kazakhstan', 'Kyrgyzstan', 'Laos',
       'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal',
       'North Korea', 'Pakistan', 'Philippines', 'Singapore',
       'South Korea', 'Sri Lanka', 'Taiwan', 'Thailand', 'Uzbekistan',
       'Vietnam', 'China', 'India', 'Barbados', 'Cuba',
       'Dominican Republic', 'El Salvador', 'Guatemala', 'Haiti',
       'Honduras', 'Jamaica', 'Nicaragua', 'Panama', 'Puerto Rico',
       'Saint Kitts and Nevis', 'Trinidad and Tobago', 'Armenia',
       'Azerbaijan', 'Georgia', 'Russia', 'Turkey', 'Albania', 'Austria',
       'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria',
       'Croatia', 'Czech Republic', 'Denmark', 'Finland', 'France',
       'Germany', 'Greece', 'Holy See', 'Hungary', 'Ireland', 'Italy',
       'Kosovo', 'Montenegro', 'Netherlands', 'North Macedonia', 'Poland',
       'Portugal', 'Romania', 'Serbia', 'Slovakia', 'Spain', 'Sweden',
       'Ukraine', 'United Kingdom', 'Canada', 'Mexico', 'United States',
       'Bahrain', 'Iran', 'Iraq', 'Israel', 'Jordan', 'Kuwait', 'Oman',
       'Qatar', 'Saudi Arabia', 'Syria', 'United Arab Emirates',
       'Australia', 'Guam', 'New Caledonia', 'New Zealand', 'Argentina',
       'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador',
       'French Guiana', 'Peru', 'Uruguay'], dtype=object)

In [199]:
# data by US
US_data = data[data["country"] == "United States"][['local_area_(taluk,_county)', 'capacity_mw']]
US_data.dropna(inplace=True)
US_data

     local_area_(taluk,_county)  capacity_mw
6397             Andrews County          420
6400             Fayette County          240
6401      San Bernardino County           20
6402              Madera County           20
6403                Kern County           20
...                         ...          ...
7870               Wythe County           75
7871              Clarke County          500
7872             Clinton County          300
7873                Ross County          274
7874             Fayette County          147

[1364 rows x 2 columns]

In [129]:
US_data_file = US_data.to_json()

In [130]:
filename = 'US_data.json'
with open(filename, 'w') as f:
    json.dump(US_data_file, f)

In [200]:
US_data.to_numpy().tolist()

[['Andrews County', 420],
 ['Fayette County', 240],
 ['San Bernardino County', 20],
 ['Madera County', 20],
 ['Kern County', 20],
 ['Kauaʻi County', 20],
 ['Maui County', 60],
 ['Hawaii County', 30],
 ['Fleming County', 188],
 ['Madison County', 100],
 ['Union County', 325],
 ['Yuma County', 91],
 ['Yuma County', 136],
 ['Yuma County', 121],
 ['Yuma County', 290],
 ['Lake County', 47],
 ['Clark County', 100],
 ['Chambers County', 79],
 ['Chambers County', 80],
 ['Polk County', 50],
 ['San Bernardino County', 20],
 ['Bexar County', 41],
 ['Kinney County', 40],
 ['Uvalde County', 100],
 ['Pecos County', 105],
 ['Haskell County', 100],
 ['Albany County', 20],
 ['Albany County', 20],
 ['Washington County', 80],
 ['York County', 50],
 ['Andrews County', 223],
 ['Lexington County', 75],
 ['Tulare County', 50],
 ['Tulare County', 20],
 ['Los Angeles County', 66],
 ['Los Angeles County', 66],
 ['Luna County', 28],
 ['Campbell County', 80],
 ['Arlington County', 120],
 ['Halifax County', 110],
 ['Power County', 20],
 ['Power County', 20],
 ['Kings County', 128],
 ['Barren County', 120],
 ['Anderson County', 50],
 ['Jones County', 200],
 ['Los Angeles County', 20],
 ['Los Angeles County', 50],
 ['Los Angeles County', 20],
 ['Los Angeles County', 105],
 ['Riverside County', 20],
 ['Cochise County', 20],
 ['Clark County', 20],
 ['Lincoln County', 21],
 ['Catawba County', 20],
 ['Culberson County', 180],
 ['Alameda County', 138],
 ['San Bernardino County', 200],
 ['Kern County', 200],
 ['Adair County', 25],
 ['Lake County', 400],
 ['Riverside County County', 265],
 ['Clark County', 370],
 ['Early County', 20],
 ['Early County', 102],
 ['Riverside County', 100],
 ['Riverside County', 133],
 ['Riverside County', 131],
 ['Maricopa County', 127],
 ['Maricopa County', 28],
 ['Maricopa County', 28],
 ['Maricopa County', 26],
 ['Maricopa County', 28],
 ['Navarro County', 175],
 ['Clark County', 200],
 ['McKinley County', 300],
 ['Lyon County', 86],
 ['Shiawassee County', 50],
 ['Shiawassee County', 110],
 ['Shiawassee County', 79],
 ['Kern County', 100],
 ['Kern County', 75],
 ['Riverside County', 313],
 ['Riverside County', 200],
 ['Riverside County', 250],
 ['La Paz County', 300],
 ['Tulare County', 20],
 ['Tulare County', 20],
 ['Hertford County', 80],
 ['Los Angeles County', 253],
 ['Pima County', 29],
 ['Pima County', 25],
 ['Moffatt County', 145],
 ['Stanislaus County', 25],
 ['Haskell County', 225],
 ['Darlington County', 63],
 ['Coconico County', 60],
 ['Charlotte County', 74],
 ['Charlotte County', 74],
 ['Iowa County', 150],
 ['Iowa County', 150],
 ['Jefferson County', 149],
 ['Wasco County', 60],
 ['Wasco County', 140],
 ['Kern County', 20],
 ['Cattaraugus County', 20],
 ['Washington County', 20],
 ['Hillsborough County', 74],
 ['Brevard County', 74],
 ['Pecos County', 22],
 ['Kern County', 60],
 ['Fredrick County', 80],
 ['Humboldt County', 101],
 ['Appling County', 25],
 ['Citrus County', 75],
 ['Bladen County', 70],
 ['Los Angeles County', 20],
 ['Los Angeles County', 20],
 ['Los Angeles County', 20],
 ['Kern County', 56],
 ['Kern County', 56],
 ['Kern County', 50],
 ['Kern County', 47],
 ['Kern County', 38],
 ['Stokes County', 35],
 ['Richland County', 50],
 ['Niagara County', 100],
 ['Berkeley County', 50],
 ['Louisa County', 88],
 ['Kern County', 500],
 ['Kern County', 500],
 ['Henry County', 152],
 ['Stanislaus County', 26],
 ['Stanislaus County', 40],
 ['Stanislaus County', 74],
 ['Monmouth County', 20],
 ['Hillsborough County', 25],
 ['Lee County', 400],
 ['Barnwell County', 75],
 ['Madison County', 196],
 ['White County', 149],
 ['Imperial County', 200],
 ['Bastrop County', 200],
 ['Pueblo County', 240],
 ['Clinton County', 20],
 ['Allen County', 300],
 ['Larimer County', 30],
 ['Montgomery County', 130],
 ['Christian County', 299],
 ['Pueblo County', 150],
 ['Yakima County', 100],
 ['Montgomery County', 100],
 ['Barnwell County', 20],
 ['Kern County', 20],
 ['Bladen County', 50],
 ['Indian River County', 74],
 ['Hendry County', 74],
 ['Jackson County', 74],
 ['Grimes County', 210],
 ['Lake County', 50],
 ['Harrison County', 70],
 ['Grundy County', 369],
 ['Jackson County', 74],
 ['Sterling County', 30],
 ['Sterling County', 115],
 ['Harrison County', 80],
 ['Lake County', 40],
 ['Queen Annes County', 80],
 ['Mecklenburg County', 50],
 ['Riverside County', 21],
 ['Riverside County', 20],
 ['Riverside County', 137],
 ['Riverside County', 39],
 ['Riverside County', 36],
 ['Riverside County', 35],
 ['Riverside County', 33],
 ['Riverside County', 34],
 ['Riverside County', 32],
 ['Riverside County', 32],
 ['Riverside County', 69],
 ['Riverside County', 69],
 ['Coke County', 150],
 ['Klamath County', 300],
 ['Polk County', 38],
 ['Pinal County', 50],
 ['Boone County', 64],
 ['Madera County', 50],
 ['San Diego County', 26],
 ['Washoe County', 200],
 ['Clark County', 100],
 ['Clark County', 50],
 ['Clark County', 50],
 ['Kramer Junction County', 20],
 ['Montezuma County', 127],
 ['Wood County', 20],
 ['Penobscot County', 120],
 ['Nash County', 50],
 ['Tom Green County', 200],
 ['Brazoria County', 200],
 ['Macon County', 150],
 ['Orangeburg County', 100],
 ['Navarro County', 127],
 ['Boone County', 200],
 ['Henrico County', 20],
 ['Bee County', 51],
 ['Torrance County', 50],
 ['Cleveland County', 50],
 ['Tom Green County', 177],
 ['Buckingham County', 20],
 ['Pitt County', 52],
 ['Pecos County', 154],
 ['Otero County', 120],
 ['Clinton County', 170],
 ['Vance County', 50],
 ['Taylor County', 22],
 ['Taylor County', 104],
 ['Dodge County', 200],
 ['Polk County', 50],
 ['San Luis Obispo County', 130],
 ['San Luis Obispo County', 150],
 ['Cabarrus County', 80],
 ['Fallon County', 75],
 ['Fallon County', 75],
 ['Sussex County', 75],
 ['Nye County', 150],
 ['York County', 275],
 ['San Bernardino County', 100],
 ['Calhoun County', 125],
 ['Calhoun County', 200],
 ['San Luis Obispo County', 21],
 ['San Luis Obispo County', 32],
 ['San Luis Obispo County', 86],
 ['San Luis Obispo County', 70],
 ['San Luis Obispo County', 40],
 ['Imperial County', 20],
 ['Camden County', 20],
 ['Gloucester County', 20],
 ['Kern County', 45],
 ['Calhoun County', 20],
 ['Mitchell County', 171],
 ['Kern County', 44],
 ['Imperial County', 147],
 ['Litchfield County', 25],
 ['Clarke County', 79],
 ['Fresno County', 20],
 ['Pasquotank County', 20],
 ['Quay County', 25],
 ['Quay County', 30],
 ['Upton County', 180],
 ['Emery County', 40],
 ['Kern County', 24],
 ['Kern County', 110],
 ['Kern County', 110],
 ['DeSoto County', 74],
 ['Surry County', 170],
 ['White County', 200],
 ['Cayuga County', 200],
 ['Tulare County', 20],
 ['Tulare County', 20],
 ['Tulare County', 20],
 ['New Castle County', 114],
 ['Early County', 70],
 ['Lenawee County', 20],
 ['Chesterfield County', 75],
 ['Imperial County', 34],
 ['Imperial County', 27],
 ['Imperial County', 34],
 ['Imperial County', 34],
 ['Imperial County', 27],
 ['Stanislaus County', 40],
 ['Los Angeles County', 20],
 ['Pinal County', 100],
 ['Calhoun County', 100],
 ['Escanada County', 125],
 ['Kern County', 250],
 ['Refugio County', 400],
 ['Hardee County', 75],
 ['Walton County', 75],
 ['Chaves County', 70],
 ['Northampton County', 20],
 ['Aiken County', 75],
 ['Halifax County', 75],
 ['Chicot County', 100],
 ['Pickaway County', 400],
 ['Imperial County', 50],
 ['Clark County', 200],
 ['Kings County', 20],
 ['Genesee County', 500],
 ['Colfax County', 31],
 ['Storey County', 100],
 ['Storey County', 150],
 ['Imperial County', 30],
 ['Orange County', 52],
 ['DeSoto County', 74],
 ['Clearfield County', 20],
 ['Sullivan County', 20],
 ['Elmore County', 71],
 ['Elmore County', 30],
 ['Clay County', 106],
 ['Onondaga County', 50],
 ['San Juan County', 55],
 ['Champaign County', 144],
 ['Juab County', 80],
 ['Clark County', 48],
 ['Coconino County', 480],
 ['Alamosa County', 30],
 ['Riverside County', 75],
 ['Colleton County', 75],
 ['Surry County', 142],
 ['Columbia County', 75],
 ['Herkimer County', 350],
 ['Columbia County', 60],
 ['Franklin County', 50],
 ['Pueblo County', 120],
 ['Tom Green County', 160],
 ['Edgecombe County', 80],
 ['Fannin County', 124],
 ['Decatur County', 213],
 ['Pinal County', 20],
 ['Clark County', 30],
 ['Clark County', 30],
 ['Clark County', 34],
 ['Clark County', 30],
 ['Clark County', 30],
 ['Clark County', 26],
 ['Clark County', 21],
 ['Clark County', 27],
 ['Clark County', 26],
 ['Clark County', 28],
 ['Clark County', 25],
 ['Clark County', 26],
 ['Clark County', 26],
 ['Clark County', 26],
 ['Clark County', 24],
 ['Clark County', 52],
 ['Clark County', 42],
 ['Clark County', 252],
 ['Nye County', 700],
 ['Putnam County', 74],
 ['Webb County', 200],
 ['Kings County', 20],
 ['Kings County', 20],
 ['Halifax County', 20],
 ['Kern County', 20],
 ['New Kent County', 20],
 ['Dane County', 20],
 ['Escambia County', 75],
 ['Iron County', 58],
 ['Iron County', 122],
 ['Montezuma County', 140],
 ['Garrett County', 175],
 ['Crane County', 150],
 ['Lander County', 149],
 ['Riverside County', 200],
 ['Riverside County', 150],
 ['Pender County', 70],
 ['Franklin County', 50],
 ['Barnwell County', 68],
 ['Darlington County', 70],
 ['Cumberland County', 30],
 ['Santa Barbara County', 40],
 ['San Bernardino County', 182],
 ['San Bernardino County', 300],
 ['Selma County', 80],
 ['Rock County', 250],
 ['Shawangunk County', 25],
 ['Volusia County', 74],
 ['Decatur County', 20],
 ['Decatur County', 80],
 ['Red River County', 300],
 ['Red River County', 310],
 ['Greenwood County', 100],
 ['Lapeer County', 28],
 ['Bureau County', 20],
 ['Riverside County', 80],
 ['Riverside County', 70],
 ['Riverside County', 480],
 ['Riverside County', 40],
 ['Riverside County', 40],
 ['Riverside County', 40],
 ['Riverside County', 30],
 ['Riverside County', 25],
 ['Riverside County', 25],
 ['Riverside County', 20],
 ['Riverside County', 23],
 ['Riverside County', 30],
 ['Riverside County', 20],
 ['Riverside County', 39],
 ['Riverside County', 39],
 ['Riverside County', 26],
 ['Riverside County', 23],
 ['Riverside County', 29],
 ['Riverside County', 29],
 ['Riverside County', 25],
 ['Riverside County', 25],
 ['Lee County', 165],
 ['DeSoto County', 25],
 ['Oconee County', 30],
 ['Natrona County', 240],
 ['Brevard County', 74],
 ['Washoe County', 200],
 ['Highland County', 117],
 ['Cayuga County', 20],
 ['Halifax County', 20],
 ['Washington County', 20],
 ['Montezuma County', 110],
 ['Highland County', 117],
 ['Houston County', 80],
 ['Sangamon County', 593],
 ['Dougherty County', 120],
 ['Fayette County', 99],
 ['Imperial County', 100],
 ['Navajo County', 50],
 ['Clark County', 150],
 ['Line County', 50],
 ['Line County', 150],
 ['Manatee County', 74],
 ['Loudoun County', 100],
 ['Jasper County', 265],
 ['Jasper County', 435],
 ['Polk County', 60],
 ['Middlesex County', 37],
 ['Clark County', 300],
 ['Travis County', 144],
 ['Pinal County', 100],
 ['Nash County', 20],
 ['Nash County', 23],
 ['Nash County', 26],
 ['Pecos County', 118],
 ['Sharon County', 50],
 ['Accomack County', 80],
 ['Suwannee County', 74],
 ['Richmond County', 48],
 ['Fresno County', 201],
 ['Kern County', 760],
 ['Kern County', 130],
 ['Kern County', 118],
 ['Kern County', 24],
 ['Baker County', 74],
 ['Lamar County', 200],
 ['Kern County', 200],
 ['Kern County', 200],
 ['Frio County', 132],
 ['Lee County', 175],
 ['Tooele County', 80],
 ['Los Angeles County', 40],
 ['Rock County', 80],
 ['Franklin County', 20],
 ['Gibson County', 200],
 ['Ellis County', 135],
 ['Wilson County', 40],
 ['Lincoln County', 150],
 ['Eloy County', 100],
 ['Pecos County', 108],
 ['Sandoval County', 55],
 ['Beaver County', 80],
 ['Beaver County', 80],
 ['Beaver County', 80],
 ['Iron County', 80],
 ['Prewitt County', 200],
 ['Esmeralda County', 500],
 ['Esmeralda County', 650],
 ['Essex County', 20],
 ['Hampton County', 20],
 ['Genesee County', 280],
 ['Sullivan County', 250],
 ['Harford County', 30],
 ['St Lawrence County', 20],
 ['Fall River County', 80],
 ['Franklin County', 77],
 ['Perry County', 48],
 ['Bladen County', 23],
 ['Edgecombe County', 100],
 ['Fresno County', 150],
 ['Fort Bend County', 350],
 ['Pittsylvania County', 150],
 ['Washoe County', 100],
 ['Warren County', 20],
 ['Fresno County', 60],
 ['Leon County', 20],
 ['Wakulla County', 42],
 ['Herkimer County', 20],
 ['Greene County', 100],
 ['Henderson County', 200],
 ['Henderson County', 200],
 ['Fort Bend County', 240],
 ['Chattahoochee County', 30],
 ['El Paso County', 20],
 ['Okeechobee County', 74],
 ['Richmond County', 30],
 ['Hardee County', 75],
 ['Fort Irwin County', 500],
 ['Fort Mojave Reservation County', 300],
 ['Prince George County', 150],
 ['Liberty County', 30],
 ['Greensville County', 80],
 ['Farmington County', 400],
 ['Franklin County', 50],
 ['Madison County', 577],
 ['Scotland County', 75],
 ['Stanislaus County', 20],
 ['New London County', 20],
 ['Gadsen County', 400],
 ['Horry County', 46],
 ['Horry County', 46],
 ['Horry County', 46],
 ['Concho County', 250],
 ['Concho County', 110],
 ['Kern County', 20],
 ['Kern County', 185],
 ['Kern County', 20],
 ['Kern County', 45],
 ['Kern County', 20],
 ['Kern County', 20],
 ['Kern County', 20],
 ['Gaston County', 25],
 ['Kings County', 20],
 ['Darlington County', 60],
 ['Albany County', 20],
 ['Clark County', 690],
 ['Erie County', 350],
 ['Ellis County', 80],
 ['Gibson County', 280],
 ['Fresno County', 20],
 ['Maricopa County', 32],
 ['Metcalfe County', 55],
 ['Esmeralda County', 1500],
 ['Kern County', 54],
 ['Kern County', 192],
 ['Falls County', 100],
 ['LaSalle County', 20],
 ['Owyhee County', 60],
 ['Owyhee County', 20],
 ['Currituck County', 20],
 ['Hillsborough County', 61],
 ['Iron County', 80],
 ['Iron County', 50],
 ['Grant County', 200],
 ['Carbon County', 82],
 ['Chesapeake City County', 20],
 ['Mecklenburg County', 80],
 ['Herkimer County', 20],
 ['Hartford County', 120],
 ['Mohave County', 55],
 ['El Paso County', 35],
 ['Pecos County', 255],
 ['Somerset County', 75],
 ['Van Wert County', 46],
 ['Fresno County', 60],
 ['Fresno County', 20],
 ['Fresno County', 20],
 ['Fresno County', 102],
 ['Andrscoggin County', 120],
 ['Jefferson County', 120],
 ['Henry County', 100],
 ['Greensville County', 80],
 ['Culpeper County', 100],
 ['Greenwood County', 20],
 ['Pitt County', 56],
 ['Guadalupe County', 300],
 ['Kings County', 20],
 ['Okaloosa County', 30],
 ['Santa Rosa County', 40],
 ['Escambia County', 50],
 ['Overstreet County', 75],
 ['Lexington County', 75],
 ['Northampton County', 80],
 ['Hawaii County', 30],
 ['Halifax County', 20],
 ['Hunt County', 42],
 ['Hamilton County', 75],
 ['Hendry County', 74],
 ['Hampton County', 20],
 ['Hancock County', 20],
 ['Wilkes County', 75],
 ['White County', 95],
 ['Hardee County', 200],
 ['Hardin County', 150],
 ['Hardin County', 170],
 ['Hardin County', 300],
 ['Clinton County', 195],
 ['Cass County', 200],
 ['Osceola County', 74],
 ['San Bernardino County', 65],
 ['Clark County', 100],
 ['Oceana County', 100],
 ['Edgecombe County', 80],
 ['Licking County', 350],
 ['Navajo County', 300],
 ['Forrest County', 50],
 ['Warren County', 65],
 ['Kern County', 27],
 ['Jeff Davis County', 52],
 ['Jeff Davis County', 40],
 ['Manistee County', 41],
 ['Swisher County', 500],
 ['Nolan County', 500],
 ['Williamsburg County', 75],
 ['Henderson County', 50],
 ['Kings County', 102],
 ['Palm Beach County', 74],
 ['Mitchell County', 196],
 ['San Bernardino County', 100],
 ['San Luis Obispo County', 250],
 ['Stephenson County', 100],
 ['Montgomery County', 90],
 ['Franklin County', 49],
 ['Highlands County', 75],
 ['Highlands County', 75],
 ['Highland County', 300],
 ['Spotsylvania County', 165],
 ['Dickenson County', 50],
 ['Wyoming County', 20],
 ['Brown County', 200],
 ['Herkimer County', 20],
 ['Rensselaer County', 20],
 ['Honolulu County', 52],
 ['Millard County', 20],
 ['Orleans County', 20],
 ['Webster County', 100],
 ['Horry County', 75],
 ['Nolan County', 200],
 ['Scotland County', 20],
 ['Cortland County', 90],
 ['Alamosa County', 52],
 ['Mitchell County', 21],
 ['Hopkins County', 250],
 ['Putnam County', 74],
 ['Gaston County', 75],
 ['Tooele County', 75],
 ['Livingston County', 180],
 ['Humboldt County', 350],
 ['Emery County', 100],
 ['Rutherford County', 50],
 ['Orangeburg County', 75],
 ['Fresno County', 20],
 ['Ada County', 40],
 ['Lamar County', 198],
 ['Imperial County', 400],
 ['Imperial County', 23],
 ['Imperial County', 20],
 ['Indian River County', 74],
 ['White County', 200],
 ['Fisher County', 125],
 ['Bladen County', 35],
 ['Cleveland County', 35],
 ['Richmond County', 50],
 ['Brunswick County', 80],
 ['Anson County', 100],
 ['Duplin County', 35],
 ['Bladen County', 48],
 ['Cumberland County', 71],
 ['Bladen County', 51],
 ['Cumberland County', 78],
 ['Robeson County', 34],
 ['Lenoir County', 50],
 ['Pender County', 33],
 ['Saint Lucie County', 74],
 ['Washington County', 50],
 ['Humboldt County', 250],
 ['Iron County', 80],
 ['Jones County', 300],
 ['Fisher County', 125],
 ['Medina County', 85],
 ['Castro County', 180],
 ['Dawson County', 50],
 ['San Diego County', 20],
 ['Polk County', 75],
 ['Jarratt County', 49],
 ['Mitchell County', 101],
 ['Rio Arriba County', 50],
 ['Northampton County', 75],
 ['Stanton County', 20],
 ['Joshua Tree County', 20],
 ['Weston County', 101],
 ['Lee County', 100],
 ['Chesterfield County', 66],
 ['Borden County', 159],
 ['Borden County', 141],
 ['San Diego County', 90],
 ['Maui County', 20],
 ['Maui County', 40],
 ['Kings County', 20],
 ['Kings County', 20],
 ['Honolulu County', 49],
 ['Navajo County', 27],
 ['Navajo County', 28],
 ['Bertie County', 20],
 ['Van Zandt County', 59],
 ['Kings County', 20],
 ['Kings County', 22],
 ['Kings County', 20],
 ['Los Angeles County', 20],
 ['Kern County', 20],
 ['Camden County', 30],
 ['Imperial County', 360],
 ['Xenia County', 175],
 ['Tom Green County', 200],
 ['Dane County', 300],
 ['Kramer Junction County', 70],
 ['San Bernardino County', 130],
 ['Surry County', 60],
 ['Honolulu County', 60],
 ['Honolulu County', 42],
 ['West Baton Rouge Parish', 50],
 ['Eagle Creek County', 200],
 ['Polk County', 50],
 ['Highlands County', 45],
 ['Blackford County', 245],
 ['Okeechobee County', 74],
 ['Georgetown County', 100],
 ['Georgetown County', 100],
 ['Dawson County', 102],
 ['Dawson County', 100],
 ['Randolph County', 80],
 ['San Diego County', 22],
 ['Andrews County', 100],
 ['Henry County', 20],
 ['Frederick County', 20],
 ['Androscoggin County', 20],
 ['Mineral County', 700],
 ['Stokes County', 50],
 ['Dinwiddie County', 80],
 ['Allendale County', 70],
 ['Kaufman County', 181],
 ['Fulton County', 20],
 ['Hillsborough County', 74],
 ['Fresno County', 40],
 ['Fresno County', 20],
 ['Fresno County', 20],
 ['Fresno County', 50],
 ['Fresno County', 50],
 ['Hillsborough County', 74],
 ['Candler County', 51],
 ['Hinkley County', 160],
 ['Hinkley County', 150],
 ['Saint Lucie County', 74],
 ['Madison County', 120],
 ['Calhoun County', 66],
 ['San Bernardino County', 20],
 ['Borden County', 225],
 ['Suffolk County', 32],
 ['San Bernardino County', 20],
 ['Greene County', 50],
 ['Oglala Lakota County', 140],
 ['Loring Commerce Centre County', 100],
 ['Kern County', 30],
 ['Kern County', 20],
 ['Mower County', 50],
 ['Lander County', 190],
 ['Lucerne Valley County', 100],
 ['Lucerne Valley County', 20],
 ['San Bernadino County', 45],
 ['Lucerne Valley County', 60],
 ['Lucerne Valley County', 20],
 ['Stewart County', 100],
 ['Klickitat County', 150],
 ['Mineral County', 50],
 ['Shiawassee County', 20],
 ['Muskegon County', 20],
 ['Luna County', 55],
 ['Orange County', 63],
 ['Yolo County', 20],
 ['Polk County', 74],
 ['Clay County', 74],
 ['Honolulu County', 120],
 ['Catawba County', 69],
 ['Starke County', 333],
 ['Starke County', 333],
 ['Starke County', 333],
 ['Manatee County', 74],
 ['Ontario County', 20],
 ['Pecos County', 222],
 ['Pittsylvania County', 120],
 ['Pecos County', 28],
 ['Cambria County', 100],
 ['Lucerne Valley County', 20],
 ['Kern County', 20],
 ['Dougherty County', 31],
 ['Marion County', 100],

In [201]:
US_data

     local_area_(taluk,_county)  capacity_mw
6397             Andrews County          420
6400             Fayette County          240
6401      San Bernardino County           20
6402              Madera County           20
6403                Kern County           20
...                         ...          ...
7870               Wythe County           75
7871              Clarke County          500
7872             Clinton County          300
7873                Ross County          274
7874             Fayette County          147

[1364 rows x 2 columns]

In [204]:
len(US_data["local_area_(taluk,_county)"].unique())

500

In [208]:
US_data.groupby("local_area_(taluk,_county)").sum()

                            capacity_mw
local_area_(taluk,_county)
Accomack County                      80
Ada County                           60
Adair County                         25
Adams County                         80
Aiken County                        150
...                                 ...
Yakima County                       100
Yellowstone County                  160
Yolo County                          20
York County                         374
Yuma County                         838

[500 rows x 1 columns]